* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0b153d;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding: 20px;
}

#container {
    background-color: #fafafa;
    height: fit-content;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px 15px;
    align-self: center;
}

header {
    display: flex;
    justify-content: space-between;
    color: #222;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

form,
.todo {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#edit-form {
    border-bottom: none !important;
}

label {
    display: block;
    font-weight: bold;
    color: #222;
    margin-bottom: 5px;
}

input,
select {
    padding: 5px;
    border: 1px solid #ccc;
}

#priority-select,
#priority-filter-select {
    width: 90px;
}

button {
    box-sizing: content-box;
    padding: 5px;
    min-width: 20px;
    color: rgb(2, 2, 95);
    border: 1px solid rgb(2, 2, 95);
}

button i {
    pointer-events: none;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(2, 2, 95);
}

#cancel-edit {
    display: flex;
    justify-content: center;
}

#cancel-edit-btn {
    margin-top: 10px
}

form {
    display: flex;
}

#search-side,
#title-side {
    margin-right: 20px;
}

input[type="text"] {
    width: 250px;
}

#filter-side,
#priority-side {
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

#filter-side {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

#filter-side input {
    width: 100px;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .3s;
}

.todo abbr {
    flex: 1;
    font-weight: bold;
    text-decoration: none;
}

.low abbr:hover {
    color: green;
}

.medium abbr:hover {
    color: orange;
}

.high abbr:hover {
    color: red;
}

.todo button {
    margin-left: 5px;
}

.hide {
    display: none !important;
}

.done {
    color: white;
    text-decoration:line-through;
    font-style: italic;
    background-color: rgb(2, 2, 95);
}

#dashboard-btn {
    min-width: 60px;
}

#dashboard-filters {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

#dashboard p {
    margin-top: 10px;
    font-size: 0.9rem;
    font-style: italic;
    color: #afafaf;
}

.chart-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 300px;
}

#logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}