<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/login-cadastro.css">
    <script src="/js/login.js" defer></script>
</head>

<body>
    <div id="container">
        <div id="title-side">
            <h1>Task Manager</h1>
        </div>
        <div id="form-side">
            <form>
                <h2>Entrar</h2>
                <p class="info-line">Sem organização, não há otimização</p>

                <label for="email">E-mail</label>
                <input type="email" name="email" placeholder="Digite seu e-mail">

                <label for="password">Senha</label>
                <input type="password" name="password" placeholder="Digite a sua senha">

                <div id="actions">
                    <button type="button" id="register-btn">Cadastrar</button>
                    <input type="submit" value="Entrar">
                </div>
            </form>
        </div>
    </div>
</body>

</html>